@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
img{
    min-width: 400px;
    max-width: 400px;
    min-height: auto;
    max-height: auto;
    height: auto;
}

.conteiner p{
    font-size: 35px;
}

.aceppt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 104, 26, 0.349);
    font-family: 'VT323', monospace;

}

.popup{
    width: 400px;
    height: auto;
    justify-items: center;
    text-align: center;
    border: 2px solid powderblue;
    background-color: white;
    margin: 10px;
    font-family: 'VT323', monospace;
}



